* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px auto;
  width: 1600px;
  height: 900px;
  font-family: sans-serif;
}

main {
  display: flex;
  align-content: flex-start;
}

main > div {
  padding: 2em;
}

main .download {
  padding: 2em 0em;
}

main a {
  display: block;
}

.list a {
  padding: 2em;
  display: block;
}

h1 {
  padding: 1em;
  text-align: center;
  border-bottom: 1px rgba(0, 0, 0, 0.5);
}
